{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://rawgit.com/progrape/weui.js/master/dist/weui.js'></script>
    <link rel='stylesheet prefetch' href='https://res.wx.qq.com/open/libs/weui/0.3.0/weui.css'>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">

    <link rel="stylesheet" href="{% static 'css/weui.css' %}"/>


</head>

<body ontouchstart>

        <div class="weui_tab " style="height:44px;">

            <div class="weui_navbar" style="height:44px;">
                <!--
                    <a href="../../../wx_api/history.html?item_id={{ itemid }}" class="weui_navbar_item">报警历史</a>
                    <a href="../../../wx_api/host_detail.html/{{ hostinfo.1 }}?src_id={{ itemid }}" class="weui_navbar_item">主机信息</a>
                    -->
                  <a href="../../../wx_api/history.html?item_id={{ itemid }}" class="weui_navbar_item weui_bar_item_on">
            历史记录
        </a>
        <a href="../../../wx_api/host_detail.html/{{ hostinfo.1 }}?src_id={{ itemid }}#tab2" class="weui_navbar_item">
            主机触发器列表
        </a>
        <a href="#tab3" class="weui_navbar_item">
            全部主机
        </a>

                </div>
        </div>
        <header class='demos-header'>
    <h1 class="demos-title">{{ h1_title }}</h1>
</header>

{% block content %}
{% endblock %}

<script>
    $(function() {

        var i=0;
        $(".weui_navbar a").bind("click", function(){

            //css操作
            //alert(i++);
            //操作导航栏
            //$(".weui_bar_item_on").removeClass('weui_bar_item_on');
            //console.log($(this).find("a"));
            //$(this).addClass("weui_bar_item_on");

            //操作内容切换
            $(".weui_tab_bd .weui_tab_bd_item_active").removeClass('weui_tab_bd_item_active');
            var data_toggle =jQuery(this).attr("href");
            $(data_toggle).addClass("weui_tab_bd_item_active");
           // $(this).addClass("weui_tab_bd_item_active");

        });
    });

</script>



{#<script src="{% static 'js/example.js' %}"></script>#}
<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/jquery-weui.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

