{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主机组流量图汇总</title>
</head>
<body>

                <div class="weui_tab_bd_item">

                     <header class='demos-header'>
                <h1 class="demos-title">主机图形</h1>
            </header>
                    {% for each_host,net_info in host_eth_id.items %}
                        {{ each_host }}
                        <br>
                        {% if eth_id == "0" %}
                            <img src="{% url 'hostimg' graphid=net_info.eth0%}">
                        {% else %}
                            <img src="{% url 'hostimg' graphid=net_info.eth1%}">
                        {% endif %}
                        <br><br>
                    {% endfor %}
                </div>

</body>
</html>